rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /examQuestions/{document=**} {
      allow read, write: if true;
    }

    match /questions/{document=**} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
